{% extends 'base.html.twig' %}

{% block title %}Produit | {{products.name}}{% endblock %}

{% block body %}
    <div class="container my-5">

        <div class="row">
            <div class="col-md-6">
                <img src="/uploads/{{ products.illustration }}" class="img-fluid w-100" alt="{{ products.name }}">
            </div>
            <div class="col-md-6">
                <small><i><a href="{{ path('app_product', { slug : products.category.slug }) }}">Produits </a>> {{ products.name }}</i></small>
                <h1>{{ products.name }}</h1>
                <h3 class="text-light bg-warning rounded d-inline-block p-2">{{ products.category }}</h3>
                <h4>Reste en stock : {{ products.quantity }}</h4>
                <p>{{ products.description|raw }}</p>
                {# <a href="#" class="btn btn-success w-100 mt-3">Ajouter au panier</a> #}
            </div>
        </div>

    </div>
{% endblock %}
